/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #66cccc;
}

.errors
{
  color: #ff0000;
  font-weight: bold;
}

.changeFont
{
 font-family: Verdana;
 font-size: 11px;
 text-transform: uppercase;
}

.changeFontBig
{
    font-family: Verdana;
    font-size: 18px;
    text-transform: uppercase;
}

.blackColor
{
    color: black;
    font-family: Verdana;
}

.grayColor
{
    color: darkgray;
    font-family: Verdana;
}

.btn-default {
    line-height: 12px;
    background-color: #218C8D;
    color: white;
    border-color: #218C8D;

}

.btn-default:focus {
    backgroud-color: #ffcc66;
}

.btn-large {
    padding: 18px 28px;
    font-size: 15px;
    width: 190px;
    line-height: 5px;
    border-radius: 8px;
    background-color: #66cccc;
    color: white;
}

.btn-large:hover {
    background-color: #ffcc66;
    color: white;
}

.btn-small {
    font-size: 15px;
    width: 140px;
    line-height: 6px;
    border-radius: 8px;
    background-color: #66cccc;
    color: white;
}

.btn-small:hover {
    background-color: #ffcc66;
    color: white;
}



.navbar-default {
    background-color: #66cccc;
    border:#66cccc ;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ecdbff;
}

.navbar-nav:hover, .navbar-default .navbar-nav:focus {
    background-color: #ffcc66;
}

.active {
    background-color: #ffcc66;
}

